.footer {
    position: relative;
    border-top: 6px solid var(--c-blue-light);
}

.footer:before {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    height: 6px;
    width: 100%;
    background-color: var(--c-aqua);
}