:root {
  /* Colors */
  --c-aqua: #00FFDF;
  --c-purple: #110035;
  --c-blue: #2F29C3;
  --c-blue-light: #086ACC;
  --c-white: #ffffff;


  /* Breakpoints */
  --bp-tablet: 768px;
  --bp-desktop: 1200px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background-color: var(--c-purple);
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}

p {
  font-size: 16px;
  color: var(--c-white);
  letter-spacing: -0.25px;
  line-height: 1.5;
}

p:not(:last-of-type) {
  margin-bottom: 15px;
}

.small-caps {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.section {
  margin-bottom: 50px;
}

.section-title {
  font-size: 26px;
  letter-spacing: -2px;
  color: var(--c-white);
  margin-bottom: 20px;
}

.section-title span {
  color: var(--c-aqua);
}

@media (min-width: 768px) {

  .section {
    margin-bottom: 75px;
  }

  .section-title {
    font-size: 36px;
    margin-bottom: 30px;
  }

  p:not(:last-of-type) {
    margin-bottom: 25px;
  }
}

@media (min-width: 1200px) {

  .section {
    margin-bottom: 100px;
  }

  .section-title {
    font-size: 54px;
    margin-bottom: 50px;
  }
}

.splash {
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}
