.section {
    background-color: var(--c-purple);
}

.inner {
    display: grid;
    gap: 15px;
    padding: 20px 0;
}

.shapes {
    position: absolute;
    top: 20px;
    right: 0;
    width: 75%;
    max-width: 500px;
}

.shape {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    aspect-ratio: 1;
    border: 1px solid var(--c-aqua);
    border-radius: 0 0 0 100%;
    transform-origin: bottom right;
    pointer-events: none;
}

.shape:nth-child(2) {
    transform: rotate(-4deg);
}

.shape:nth-child(3) {
    transform: rotate(-8deg);
}

.shape:nth-child(4) {
    transform: rotate(-12deg);
}

.content {
    margin-top: auto;
}

.title {
    color: var(--c-white);
    margin-bottom: 10px;
    font-size: 24px;
}

.title span {
    color: var(--c-aqua);
}

.text {
    color: var(--c-white);
    max-width: 285px;
}

@media (min-width: 768px) {

    .inner {
        grid-column: 1 / -1;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
    }

    .shapes {
        width: calc(58.333% - 30px);
        max-width: unset;
        max-height: calc(var(--device-height) - 60px);
    }

    .content {
        grid-column: 1 / 6;
    }

    .title {
        font-size: 32px;
        margin-bottom: 18px;
    }

    .text {
        font-size: 20px;
        letter-spacing: -0.25px;
    }
}

@media (min-width: 1200px) {

    .title {
        font-size: 54px;
        margin-bottom: 25px;
    }

    .text {
        font-size: 24px;
        letter-spacing: -0.5px;
    }

}