.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-height: var(--device-height);
    background-color: var(--c-purple);
    z-index: 20;
    pointer-events: none;
} 

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--c-white);
    font-size: 3.2vw;
    transform: translate(-50%, -50%);
}

.titleAlt {
    opacity: 0;
}

.title .alt {
    color: var(--c-aqua);
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.circlesContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circle {
    --increment: 7.25vw;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    aspect-ratio: 1;
    border: 1px solid var(--c-aqua);
    border-radius: 100%;
    opacity: .5;
    transform: translate(-50%, -50%);
}

.circle:nth-child(1) {
    width: var(--increment);
}

.circle:nth-child(2) {
    width: calc(var(--increment) * 2);
}

.circle:nth-child(3) {
    width: calc(var(--increment) * 3);
}

.circle:nth-child(4) {
    width: calc(var(--increment) * 4);
}

.circle:nth-child(5) {
    width: calc(var(--increment) * 5);
}

.circle:nth-child(6) {
    width: calc(var(--increment) * 6);
}

.circle:nth-child(7) {
    width: calc(var(--increment) * 7);
}

.circle:nth-child(8) {
    width: calc(var(--increment) * 8);
}

.wordContainer {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.wordContainer:not(:first-of-type) {
    margin-left: .75vw;
}

.wordContainer:last-of-type {
    margin-left: 0;
}

.word {
    display: inline-block;
}