.section {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, var(--c-purple) 0%, var(--c-blue) 100%);
    padding-top: 150px;
}

.sidebar {
    display: none;
}

.sidebarTitle {
    color: var(--c-white);
}

.sidebarText {
    color: var(--c-white);
}

.links {
    margin: 0;
    padding: 0;
    padding: 0;
    list-style-type: none;
}

.trigger {
    display: inline-block;
    position: relative;
    background-color: transparent;
    padding: 0 0 0 30px;
    margin-bottom: 10px;
    color: var(--c-white);
    border: none;
    appearance: none;
    text-decoration: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.trigger:after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 20px;
    height: 1px;
    background-color: var(--c-white);
    transition: all .3s ease-in-out;
}

.trigger:hover {
    padding-left: 55px;
}

.trigger:hover:after {
    width: 45px;
    background-color: var(--c-aqua);
}

.sidebarTitle span {
    color: var(--c-aqua);
}

@media (min-width: 768px) {

    .section {
        padding-top: 50vh;
    }

    .sidebar {
        position: sticky;
        top: 30px;
        display: flex;
        flex-direction: column;
        height: calc(var(--device-height) - 60px);
        grid-column: 1 / 6;
    }

    .sidebarTitle {
        font-size: 34px;
        margin-bottom: 10px;
    }

    .sidebarText {
        margin-bottom: 40px;
    }

    .sidebarBottom {
        margin-top: auto;
    }

    .main {
        grid-column: 7 / -1;
    }
}

@media (min-width: 1200px) {
    .sidebar {
        grid-column: 3 / 6;
    }

    .main {
        grid-column: 7 / 11;
    }
}